# Compiled Python bytecode
*.py[cod]

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Self
templates/robots.txt
details/migrations
details/sitemaps.py
affix/settings.py
affix/urls.py
affix/static
db.sqlite3
venv/