# Compiled Python bytecode
*.py[cod]

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Self
templates/robots.txt
details/forms.py
affix/settings.py
affix/static
sitemap.xml
.vscode
venv