{% load static %}
<div id="CookielawBanner">
	<div class="row position-fixed cookie">
		<div class="col-12">
			<h2 class="text-white text-start">Cookies</h2>
		</div>
		<div class="col-12">
			<p class="text-dark fw-bold mb-1">Mājaslapas pilnvērtīgai darbībai tiek izmantotas
				sīkdatnes (cookies). Turpinot izmantot lapu, Jūs piekrītat to izmantošanai.<br>
			</p>
		</div>
		<div class="col-12">
			<a target="_blank" rel="noreferrer" href="https://ec.europa.eu/info/cookies_lv" class="fw-bold">
				Kas ir cookies?</a>
		</div>
		<div class="col-12">
			<a href="javascript:Cookielaw.createCookielawCookie();" class="btn btn-dark mt-2">
				Piekrist un aizvērt</a>
		</div>
	</div>
</div>
<script src="{% static 'js/cookielaw.js' %}"></script>