{% load static %}
<section class="footer">
    <div class="container">
        <div class="row">
            <a name="contacts"></a>
            <div class="col-lg-12">
                <h1 class="fw-bold text-center mt-5 mb-5">Kontakti</h1>
            </div>
            <div class="col-12 col-lg-6 left">
                <p class="text-center">Tel.nr.: <span>(+371) 28 648 288</span>&nbsp;<span
                        class="material-icons icons-bottom">call</span></p>
                <p class="text-center">E-pasts: <span>affixsia@inbox.lv</span>&nbsp;<span
                        class="material-icons icons-bottom">email</span></p>
            </div>
            <div class="col-12 col-lg-6 right">
                <p class="text-center mt-3 mt-sm-3 mt-md-3 mt-lg-0">Vienotais reģ.nr.:
                    <span>42403039480</span>&nbsp;<span class="material-icons icons-bottom">badge</span>
                </p>
                <p class="text-center">Juridiskā adrese: <span>2-4, Nagļi, Nagļu pagasts, Rēzeknes
                        novads</span>&nbsp;<span class="material-icons icons-bottom">home</span></p>
            </div>
            <div class="col-lg-12 bottom">
                <p class="text-center mt-5">Uzņēmumam ir pieredze prakses vietas nodrošināšanā augstskolu
                    studentiem&nbsp;<span class="material-icons icons-bottom">school</span></p>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-lg-4">
                <div class="text-center">
					<a target="_blank" rel="noreferrer" class="text-decoration-none links" href="http://www.laurisstirna.id.lv/">
						<span class="fs-5">Izstrādātājs</span>
					</a>
				</div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="text-center text-muted">Affix © 2016-{% now 'Y' %}</div>
            </div>
            <div class="col-lg-4">
				<a href="#top" title="Uz augšu">
					<div id="arrow" class="overlay rounded-circle">
						<span class="material-icons fw-bold icon-arrow">expand_less</span>
					</div>
				</a>
            </div>
        </div>
    </div>
</footer>