{% load static %}
<!-- Prefooter -->
<a name="contacts"></a>
<section class="prefooter">
	<div class="container">
		<div class="row gx-0">
			<div class="col-lg-12">
				<h1 class="my-5">Kontakti</h1>
			</div>
			<div class="col-12 col-lg-6 left">
				<p>Tel.nr.: <span>(+371) 28 648 288</span>&nbsp;<span
						class="material-icons icons-bottom">call</span></p>
				<p>E-pasts: <span>affixsia@inbox.lv</span>&nbsp;<span
						class="material-icons icons-bottom">email</span></p>
			</div>
			<div class="col-12 col-lg-6 right">
				<p>Vienotais reģ.nr.:
					<span>42403039480</span>&nbsp;<span class="material-icons icons-bottom">badge</span>
				</p>
				<p>Juridiskā adrese: <span>2-4, Nagļi, Nagļu pagasts, Rēzeknes
						novads, LV-4631</span>&nbsp;<span class="material-icons icons-bottom">home</span></p>
			</div>
			<div class="col-lg-12 bottom">
				<p class="mt-3 mt-lg-5">Uzņēmumam ir pieredze prakses vietas nodrošināšanā augstskolu
					studentiem&nbsp;<span class="material-icons icons-bottom">school</span></p>
			</div>
		</div>
	</div>
</section>
<footer class="py-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-6 col-xl-4">
				<div class="text-center">
					<a target="_blank" rel="noreferrer" class="link-primary" href="https://www.laurisstirna.id.lv/">Izstrādātājs</a>
				</div>
			</div>
			<div class="col-6 col-xl-4">
				<div class="text-center text-muted">Affix © 2016-2022</div>
			</div>
			<div class="col-xl-4">
				<a href="#top" title="Uz augšu">
					<div id="arrow" class="overlay">
						<span class="material-icons fw-bold icon-arrow">expand_less</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>