.button,
nav ul li a {
  color: #fff;
  font-weight: 700;
}
.new,
a.anchor {
  position: relative;
}
.customers img,
.modal-footer img {
  width: 225px;
  height: 225px;
  display: block;
}
.button,
.certs img,
.customers a,
.customers img,
.modal-footer img,
a.anchor,
form img {
  display: block;
}
.background,
.prefooter {
  background-position: center center;
}
.button,
.cookie {
  text-align: center;
  opacity: 0.85;
}
.lightrope,
img {
  pointer-events: none;
}
body {
  font-family: Montserrat, sans-serif;
}
.btn:focus {
  box-shadow: none;
}
.modal-open {
  padding-right: 0 !important;
}
a {
  text-decoration: none;
}
a.anchor {
  top: -87px;
  visibility: hidden;
}
nav {
  background-color: rgba(3, 117, 213, 0.7);
}
nav ul li {
  margin-left: 28px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  font-size: 19px;
  transition: 0.35s;
}
nav ul li a:hover {
  color: #fd9135;
  transition: 0.35s;
}
nav img {
  width: 160px;
  height: 80px;
  transition: height 0.33s, width 0.33s;
  margin-left: 85px;
}
#logo_newy {
  width: 165px;
  height: 95px;
}
header {
  background-color: #c0bbba;
  background-blend-mode: multiply;
  height: 1050px;
}
.webp header {
  background-image: url("../img/header.99861817dc78.webp");
}
.no-webp header {
  background-image: url("../img/header.c3322900d8bd.jpg");
}
.description h1 {
  color: #f1faee;
  font-size: 66px;
  text-align: center;
  margin-top: 500px;
}
.description span {
  color: #111488;
  font-size: 72px;
  font-weight: 700;
}
.button {
  background-color: #ff7500;
  font-size: 18px;
  line-height: 48px;
  width: 215px;
  margin: 0 auto;
  border: 0.5px solid #ff7500;
  border-radius: 50rem;
  transition: 0.5s;
}
.button:hover {
  color: #ff7500;
  background-color: #fff;
  border: 0.5px solid #ff7500;
  transition: 0.5s;
}
.background {
  background-attachment: fixed;
  padding-top: 20px;
}
.webp .background {
  background-image: url("../img/back_main.7f42b0ba6900.webp");
}
.no-webp .background {
  background-image: url("../img/back_main.bad606067219.jpg");
}
.text-plus-logo p,
figure,
footer p {
  text-align: center;
}
blockquote h1 {
  font-size: 52px;
}
.modal-body {
  padding: 1rem 1rem 0;
}
#Modal1 .modal-body ul li,
#Modal2 .modal-body ul li,
#Modal3 .modal-body ul li,
#Modal4 .modal-body ul li,
#Modal5 .modal-body ul li {
  font-size: 15px;
  list-style: none;
}
#Modal1 .modal-body ul li::before,
#Modal2 .modal-body ul li::before,
#Modal3 .modal-body ul li::before,
#Modal4 .modal-body ul li::before,
#Modal5 .modal-body ul li::before {
  content: "";
  background-image: url("../img/check.5341028b07c9.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  left: 25px;
}
.modal-footer img {
  margin: 0 auto;
  border-radius: 0.25rem;
}
.services h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.cookie a,
.cookie p,
.customers a,
.customers h3,
.item-first,
.item-fourth,
.item-second,
.item-third,
.prefooter h1 {
  font-weight: 700;
}
.services p {
  color: #343a40;
  font-size: 16px;
  text-align: center;
}
.services .overlay {
  background-color: #0096c7;
  width: 82px;
  border-radius: 50%;
  opacity: 0.8;
  margin: 0 auto;
  transition: 0.5s;
}
.services .overlay:hover {
  background-color: #0077b6;
  transition: 0.5s;
}
.icons {
  font-size: 54px;
  color: #2d00f7;
  margin-top: 8px;
  transition: 0.5s;
}
.icons.fourth {
  margin: 4px 0 0 4px;
}
.icons.fifth {
  margin-left: 2px;
}
.services .icons:hover {
  color: #fca053;
  transition: 0.5s;
}
.new {
  font-size: 16px;
  display: inline-block;
  bottom: 48px;
  left: 120px;
  transform: rotate(35deg);
}
.customers img {
  margin: 0 auto;
}
.customers h3 {
  font-size: 22px;
  text-align: center;
}
.customers a {
  text-align: center;
  margin: 0 auto;
}
.certs img {
  width: 350px;
  height: 500px;
  margin: 0 auto;
}
.zoom-in {
  transition: 0.4s;
}
.support-2 {
  display: none;
}
.item {
  height: 245px;
  padding: 20px 70px 20px 200px;
}
.item-first::before,
.item-fourth::before,
.item-second::before,
.item-third::before {
  content: "";
  background-size: cover;
  width: 100px;
  height: 110px;
  border-radius: 50%;
}
.webp .item-first::before {
  background-image: url("../img/photo_1.50a9c0edb09b.webp");
}
.webp .item-second::before {
  background-image: url("../img/photo_2.473fa139ef22.webp");
}
.webp .item-third::before {
  background-image: url("../img/photo_3.9c83e1abb435.webp");
}
.webp .item-fourth::before {
  background-image: url("../img/photo_4.3111cf412f8a.webp");
}
.no-webp .item-first::before {
  background-image: url("../img/photo_1.dd9a572365be.jpg");
}
.no-webp .item-second::before {
  background-image: url("../img/photo_2.2dd3b778e75b.jpg");
}
.no-webp .item-third::before {
  background-image: url("../img/photo_3.ed767afe7438.jpg");
}
.no-webp .item-fourth::before {
  background-image: url("../img/photo_4.8925c3d0e9e8.jpg");
}
.blockquote-footer span {
  color: #343a40;
  font-weight: 700;
}
button[data-bs-target="#carousel_2"] {
  width: 12%;
}
.text-plus-logo img {
  width: 255px;
  height: 256px;
  display: block;
  margin: 0 auto;
}
.text-plus-logo .first {
  margin-top: -18px;
}
.useful p {
  font-size: 20px;
}
input[type="email"],
input[type="text"],
textarea {
  background: 0 0 !important;
  width: 500px !important;
  height: 40px;
  border: 2px solid coral !important;
  border-radius: 6px !important;
}
textarea {
  height: 136px;
  resize: none;
  padding-top: 15px !important;
}
form img {
  cursor: pointer;
  pointer-events: all;
  margin: 0 auto 10px;
}
.accept {
  transition: 0.5s;
}
.accept:hover {
  color: #212529;
  background-color: #fff;
  transition: 0.5s;
}
.prefooter {
  height: 636px;
}
.webp .prefooter {
  background-image: url("../img/footer_up.7569d3ca38c7.webp");
}
.no-webp .prefooter {
  background-image: url("../img/footer_up.54e543b42181.jpg");
}
.prefooter h1 {
  font-size: 70px;
  text-align: center;
}
.prefooter h1,
.prefooter span {
  color: #ff8c00;
}
.prefooter .bottom,
.prefooter .left,
.prefooter .right {
  text-align: center;
  color: #878787;
}
.prefooter .left,
.prefooter .right {
  font-size: 28px;
}
.prefooter .bottom {
  font-size: 18px;
}
.prefooter .icons-bottom {
  font-size: 35px;
  color: #3f37c9;
  vertical-align: sub;
}
footer {
  background-color: #000;
}
footer .icon-arrow {
  color: #fff;
  font-size: 60px;
  position: fixed;
  bottom: 36px;
  right: 290px;
  transition: 0.5s;
}
footer .icon-arrow:hover {
  bottom: 48px;
  transition: 0.5s;
}
footer .overlay {
  display: none;
  background-color: rgba(0, 0, 221, 0.7);
  border-radius: 50rem;
  width: 82px;
  height: 82px;
  position: fixed;
  bottom: 24px;
  right: 279px;
  transition: 0.5s;
}
footer .overlay:hover {
  background-color: rgba(0, 0, 221, 0.9);
  transition: 0.5s;
}
#CookielawBanner {
  transition: 0.4s ease-out;
}
.cookie {
  color: #fff;
  position: fixed;
  left: 25px;
  bottom: 25px;
  max-width: 411px;
  background-color: #fca311;
  border-radius: 13px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
  padding: 15px;
  z-index: 1000;
}
.cookie h3 {
  margin-left: 30px;
  text-align: left;
}
.cookie h3::before {
  content: "";
  background-image: url("../img/cookie-icon.8a6fdcac8b55.svg");
  position: absolute;
  top: 15px;
  left: 15px;
  width: 33px;
  height: 33px;
}
.cookie p {
  color: #000;
  text-align: center;
}
@media (max-width: 575.98px) {
  .anchor {
    top: 0;
  }
  .cookie {
    margin: 5% auto;
    left: 0;
    right: 0;
    bottom: -5px;
  }
  nav img {
    margin: 0;
  }
  nav ul {
    align-items: flex-end;
    margin-right: 15px;
  }
  nav ul li {
    margin-top: 10px;
  }
  nav ul li:first-child {
    margin-top: 0;
  }
  .description h1 {
    font-size: 36px;
    margin-top: 350px;
  }
  .description span {
    font-size: 48px;
  }
  blockquote h1 {
    font-size: 40px;
  }
  .modal-footer img {
    width: 150px;
    height: 150px;
  }
  .services h2 {
    font-size: 18px;
  }
  .item p,
  .services p {
    font-size: 12px;
  }
  .new {
    font-size: 14px;
    bottom: 40px;
    left: 95px;
  }
  .customers h3 {
    height: 2em;
  }
  .certs img {
    height: 280px;
  }
  .support,
  .tooltip,
  button.carousel-control-next,
  button.carousel-control-prev {
    display: none;
  }
  .item,
  .support-2 {
    display: block;
  }
  .item {
    height: 435px;
    text-align: center;
    padding: 15px 0;
  }
  .item-first::before,
  .item-fourth::before,
  .item-second::before,
  .item-third::before {
    width: 125px;
    height: 135px;
    display: block;
    margin: 0 auto;
  }
  .text-plus-logo p {
    font-size: 13px;
  }
  .text-plus-logo img {
    width: 145px;
    height: 146px;
  }
  .useful p {
    font-size: 15px;
  }
  input[type="email"],
  input[type="text"],
  textarea {
    width: 290px !important;
    margin: 0 auto;
  }
  .prefooter h1 {
    font-size: 60px;
  }
  .prefooter .left,
  .prefooter .right {
    font-size: 22px;
  }
  .prefooter .bottom {
    font-size: 14px;
  }
  .prefooter .icons-bottom {
    font-size: 26px;
  }
  footer .icon-arrow,
  footer .overlay {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .anchor {
    top: 0;
  }
  nav img {
    margin: 0;
  }
  nav ul {
    align-items: flex-end;
    margin-right: 15px;
  }
  nav ul li {
    margin-top: 10px;
  }
  nav ul li:first-child {
    margin-top: 0;
  }
  .description h1 {
    font-size: 50px;
    margin-top: 350px;
  }
  .description span,
  .prefooter h1 {
    font-size: 62px;
  }
  blockquote h1 {
    font-size: 44px;
  }
  .services h2 {
    font-size: 20px;
  }
  .services p,
  .text-plus-logo p {
    font-size: 14px;
  }
  .new {
    bottom: 44px;
    left: 100px;
  }
  .certs img {
    height: 300px;
  }
  .support,
  .tooltip,
  button.carousel-control-next,
  button.carousel-control-prev {
    display: none;
  }
  .item,
  .support-2 {
    display: block;
  }
  .item {
    height: 335px;
    text-align: center;
    padding: 15px 0;
  }
  .item-first::before,
  .item-fourth::before,
  .item-second::before,
  .item-third::before {
    width: 125px;
    height: 135px;
    display: block;
    margin: 0 auto;
  }
  .item p {
    font-size: 13px;
  }
  .useful p {
    font-size: 15px;
  }
  input[type="email"],
  input[type="text"],
  textarea {
    width: 330px !important;
    margin: 0 auto;
  }
  .prefooter .left,
  .prefooter .right {
    font-size: 24px;
  }
  .prefooter .bottom {
    font-size: 16px;
  }
  .prefooter .icons-bottom {
    font-size: 30px;
  }
  footer .icon-arrow,
  footer .overlay {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .anchor {
    top: 0;
  }
  nav img {
    margin: 0;
  }
  nav ul {
    align-items: flex-end;
    margin-right: 15px;
  }
  nav ul li {
    margin-top: 10px;
  }
  nav ul li:first-child {
    margin-top: 0;
  }
  .description h1 {
    font-size: 56px;
    margin-top: 400px;
  }
  .description span,
  .prefooter h1 {
    font-size: 62px;
  }
  .modal-footer img {
    width: 205px;
    height: 205px;
  }
  .certs img {
    height: 350px;
  }
  .support-2,
  .tooltip,
  button.carousel-control-next,
  button.carousel-control-prev {
    display: none;
  }
  .item,
  .support {
    display: block;
  }
  .item {
    height: 335px;
    text-align: center;
    padding: 15px 0;
  }
  .item-first::before,
  .item-fourth::before,
  .item-second::before,
  .item-third::before {
    width: 125px;
    height: 135px;
    display: block;
    margin: 0 auto;
  }
  .item p {
    font-size: 14px;
  }
  .useful p {
    font-size: 18px;
  }
  input[type="email"],
  input[type="text"],
  textarea {
    width: 350px !important;
  }
  .prefooter .left,
  .prefooter .right {
    font-size: 24px;
  }
  .prefooter .bottom {
    font-size: 16px;
  }
  .prefooter .icons-bottom {
    font-size: 32px;
  }
  footer .icon-arrow,
  footer .overlay {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .zoom-in:hover {
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
  }
  .item {
    height: 350px;
  }
  input[type="email"],
  input[type="text"],
  textarea {
    width: 440px !important;
  }
  .prefooter .left,
  .prefooter .right {
    font-size: 22px;
  }
  footer .icon-arrow,
  footer .overlay {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.7px) {
  .zoom-in:hover {
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
  }
  .prefooter .left,
  .prefooter .right {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  .zoom-in:hover {
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
  }
}
@media (min-width: 1921px) {
  .background,
  .prefooter,
  header {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  z-index: 1031;
  margin: -15px 0 0;
  padding: 0;
  width: 100%;
}
.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  padding: 0;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #00f7a5;
  box-shadow: 0 4.66667px 24px 3px #00f7a5;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.lightrope li:nth-child(odd) {
  background: #0ff;
  box-shadow: 0 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
}
.lightrope li:nth-child(4n + 2) {
  background: #f70094;
  box-shadow: 0 4.66667px 24px 3px #f70094;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}
.lightrope li:nth-child(3n + 1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}
.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.33333px;
  border-radius: 3px;
  top: -4.66667px;
  left: 1px;
}
.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.66667px;
  border-bottom: 2px solid #222;
  border-radius: 50%;
}
.lightrope li:last-child:after {
  content: none;
}
.lightrope li:first-child {
  margin-left: -40px;
}
@-webkit-keyframes flash-1 {
  0%,
  100% {
    background: #00f7a5;
    box-shadow: 0 4.66667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}
@keyframes flash-1 {
  0%,
  100% {
    background: #00f7a5;
    box-shadow: 0 4.66667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}
@-webkit-keyframes flash-2 {
  0%,
  100% {
    background: #0ff;
    box-shadow: 0 4.66667px 24px 3px #0ff;
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}
@keyframes flash-2 {
  0%,
  100% {
    background: #0ff;
    box-shadow: 0 4.66667px 24px 3px #0ff;
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}
@-webkit-keyframes flash-3 {
  0%,
  100% {
    background: #f70094;
    box-shadow: 0 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}
@keyframes flash-3 {
  0%,
  100% {
    background: #f70094;
    box-shadow: 0 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}
