{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Services -->
<a class="anchor position-relative d-block" name="services"></a>
<div data-aos="fade-up" data-aos-once="true">
	<figure class="text-center">
		<blockquote class="blockquote">
			<h1 class="mt-3">Mūsu pakalpojumi</h1>
		</blockquote>
		<figcaption class="blockquote-footer fs-5">Ko mēs darām?</figcaption>
	</figure>
	<hr class="mt-lg-3 mt-xl-5">
</div>
<div class="row services">
	<!-- Modal button 1 -->
	<div class="col-6 col-lg-3">
		<div data-aos="zoom-in-right" data-aos-once="true" data-aos-offset="200">
			<div class="overlay" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
				title="Spied mani">
				<button type="button" data-bs-toggle="modal" data-bs-target="#Modal1" class="btn">
					<span class="material-icons icons">design_services</span>
				</button>
			</div>
			<h2 class="mt-3 text-center">Elektroietaišu projektēšana un autoruzraudzība</h2>
		</div>
	</div>
	<!-- Modal button 2 -->
	<div class="col-6 col-lg-3">
		<div data-aos="zoom-in-right" data-aos-once="true" data-aos-offset="200">
			<div class="overlay" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
				title="Spied mani">
				<button type="button" data-bs-toggle="modal" data-bs-target="#Modal2" class="btn">
					<span class="material-icons icons second">construction</span>
				</button>
			</div>
			<h2 class="mt-3 text-center">Elektroietaišu izbūve</h2>
		</div>
	</div>
	<!-- Modal button 3 -->
	<div class="col-6 col-lg-3">
		<div data-aos="zoom-in-left" data-aos-once="true" data-aos-offset="200">
			<div class="overlay" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
				title="Spied mani">
				<button type="button" data-bs-toggle="modal" data-bs-target="#Modal3" class="btn">
					<span class="material-icons icons">engineering</span>
				</button>
			</div>
			<h2 class="mt-3 text-center">Elektroietaišu izbūves darbu vadīšana un būvuzraudzība</h2>
		</div>
	</div>
	<!-- Modal button 4 -->
	<div class="col-6 col-lg-3">
		<div data-aos="zoom-in-left" data-aos-once="true" data-aos-offset="200">
			<div class="overlay" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
				title="Spied mani">
				<button type="button" data-bs-toggle="modal" data-bs-target="#Modal4" class="btn">
					<span class="material-icons icons">troubleshoot</span>
				</button>
			</div>
			<h2 class="mt-3 text-center">Elektroietaišu tehnisko parametru mērīšana un pārbaude</h2>
		</div>
	</div>
	<div class="col-12">
		<div data-aos="zoom-in-up" data-aos-once="true">
			<p class="text-center mt-2"><strong>NACE2 4222</strong> Elektroapgādes un telekomunikāciju sistēmu
				būvniecība</p>
		</div>
	</div>
	<!-- Modal button 5 -->
	<div class="col-12">
		<div data-aos="zoom-in-up" data-aos-once="true" data-aos-offset="200" data-aos-duration="500">
			<div class="overlay" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
				title="Spied mani">
				<button type="button" data-bs-toggle="modal" data-bs-target="#Modal5" class="btn">
					<span class="material-icons icons">solar_power</span>
				</button>
			</div>
			<h2 class="mt-3 mb-0 text-center">Saules enerģētika<br>
				<span class="text-danger position-relative fw-bold new">Jaunums!</span>
			</h2>
			<!-- Modal button 6 -->
			<a class="button d-block mx-auto" href="#" data-bs-toggle="modal" data-bs-target="#Modal6">
				Uzzināt vairāk
			</a>
		</div>
	</div>
</div>
<!-- Partners -->
<a class="anchor position-relative d-block" name="partners"></a>
<div data-aos="fade-up" data-aos-once="true">
	<figure class="text-center">
		<blockquote class="blockquote">
			<h1 class="mt-3">Mūsu partneri</h1>
		</blockquote>
		<figcaption class="blockquote-footer fs-5">Ar ko mēs sadarbojamies?</figcaption>
	</figure>
	<hr class="mt-lg-3 mt-xl-5">
</div>
<div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_1.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_1.png' %}" class="img-fluid d-block mx-auto"
					alt="Latgales dārzeņu loģistika">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Latgales dārzeņu loģistika, SIA</h2>
				<a target="_blank" rel="noreferrer" class="mb-2"
					href="https://www.google.com/search?q=latgales+darzenu+logistika+latvija">Meklēt</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_2.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_2.png' %}" class="img-fluid d-block mx-auto"
					alt="Mežvidu lauksaimniecības un tehnoloģiju parks">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Mežvidu lauksaimniecības un tehnoloģiju parks, SIA
				</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://mezvidi.lv/paruznemumulv">Mājaslapa</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_3.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_3.png' %}" class="img-fluid d-block mx-auto" alt="Aiva G">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Aiva G, SIA</h2>
				<a target="_blank" rel="noreferrer" class="mb-2"
					href="https://www.google.com/search?q=aiva+g+latvija">Meklēt</a>
			</div>
		</div>
		<div class="carousel-item active" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_4.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_4.png' %}" class="img-fluid d-block mx-auto" alt="Helle Oy">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Helle Oy</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://www.helle.fi">Mājaslapa</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_5.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_5.png' %}" class="img-fluid d-block mx-auto" alt="Signify">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Signify</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://www.signify.com/global">Mājaslapa</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_6.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_6.png' %}" class="img-fluid d-block mx-auto" alt="A.M.Ozoli">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">A.M.Ozoli, SIA</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://www.amozoli.lv">Mājaslapa</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_7.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_7.png' %}" class="img-fluid d-block mx-auto"
					alt="Baltijas Elektro Sabiedrība">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Baltijas Elektro Sabiedrība, SIA</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://be.lv/">Mājaslapa</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_8.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_8.png' %}" class="img-fluid d-block mx-auto"
					alt="Rēzeknes Tehnoloģiju akadēmija">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Rēzeknes Tehnoloģiju akadēmija</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://www.rta.lv/">Mājaslapa</a>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="2000">
			<picture>
				<source srcset="{% static 'img/logo_9.webp' %}" type="image/webp">
				<img src="{% static 'img/logo_9.png' %}" class="img-fluid d-block mx-auto" alt="Energo Dizains">
			</picture>
			<div class="text-center">
				<h2 class="fw-bold">Energo dizains, SIA</h2>
				<a target="_blank" rel="noreferrer" class="mb-2" href="https://www.energodizains.lv/">Mājaslapa</a>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Iepriekšējais</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Nākamais</span>
		</button>
	</div>
</div>
<!-- Certificates -->
<a class="anchor position-relative d-block" name="certificates"></a>
<div data-aos="fade-up" data-aos-once="true">
	<figure class="text-center">
		<blockquote class="blockquote">
			<h1 class="mt-3">Sertifikāti</h1>
		</blockquote>
		<figcaption class="blockquote-footer fs-5">Kvalitātes garantija!</figcaption>
	</figure>
	<hr class="mt-lg-3 mt-xl-5">
</div>
<div class="row justify-content-center">
	<div class="col-12 col-sm-6 col-lg-4 scale">
		<div data-aos="zoom-in" data-aos-once="true" data-aos-offset="200">
			<picture>
				<source srcset="{% static 'img/cert_1.webp' %}" type="image/webp">
				<img src="{% static 'img/cert_1.jpg' %}" class="img-fluid d-block mx-auto my-2 my-lg-3"
					alt="Certificate 1">
			</picture>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-4 scale">
		<div data-aos="zoom-in" data-aos-once="true" data-aos-offset="200">
			<picture>
				<source srcset="{% static 'img/cert_2.webp' %}" type="image/webp">
				<img src="{% static 'img/cert_2.jpg' %}" class="img-fluid d-block mx-auto my-2 my-lg-3"
					alt="Certificate 2">
			</picture>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-4 scale">
		<div data-aos="zoom-in" data-aos-once="true" data-os-offset="200">
			<picture>
				<source srcset="{% static 'img/cert_3.webp' %}" type="image/webp">
				<img src="{% static 'img/cert_3.jpg' %}" class="img-fluid d-block mx-auto my-2 my-lg-3"
					alt="Certificate 3">
			</picture>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-4 scale">
		<div data-aos="zoom-in" data-aos-once="true" data-aos-offset="100">
			<picture>
				<source srcset="{% static 'img/cert_4.webp' %}" type="image/webp">
				<img src="{% static 'img/cert_4.jpg' %}" class="img-fluid d-block mx-auto my-2 my-lg-3"
					alt="Certificate 4">
			</picture>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-4 scale">
		<div data-aos="zoom-in" data-aos-once="true" data-aos-offset="100">
			<picture>
				<source srcset="{% static 'img/cert_5.webp' %}" type="image/webp">
				<img src="{% static 'img/cert_5.jpg' %}" class="img-fluid d-block mx-auto my-2 my-lg-3"
					alt="Certificate 5">
			</picture>
		</div>
	</div>
</div>
<!-- Projects -->
<a class="anchor position-relative d-block" name="projects"></a>
<div data-aos="fade-up" data-aos-once="true">
	<figure class="text-center">
		<blockquote class="blockquote">
			<h1 class="mt-4 mt-lg-5">Projekti</h1>
		</blockquote>
		<figcaption class="blockquote-footer fs-5">
			<span>Eiropas Solidaritātes korpuss</span><br>
			<span class="text-center fw-normal ms-4">Dalībnieku pieredzes stāsti</span>
		</figcaption>
	</figure>
</div>
<hr class="mt-lg-3 mt-xl-5">
<div class="carousel carousel-dark slide" id="carousel_2" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="4500">
			<div class="row mt-lg-5">
				<div class="col-lg-1"></div>
				<div class="col-lg-2">
					<picture>
						<source srcset="{% static 'img/photo_1.webp' %}" type="image/webp">
						<img src="{% static 'img/photo_1.jpg' %}" class="img-fluid d-block mx-auto rounded-circle"
							alt="Lauris Stirna">
					</picture>
				</div>
				<div class="col-lg-8">
					<p class="fst-italic fw-bold"><span class="material-icons">format_quote</span>
						Mācījos par programmēšanas inženieri <a target="_blank" href="https://www.rta.lv/"
							rel="noreferrer">Rēzeknes Tehnoloģiju akadēmijā</a>, taču ar lielām
						grūtībām varēju iedomāties, ka strādāšu savā specialitātē – nebija pieredzes.
						Ieraudzīju akadēmijā sludinājumu par darba iespēju uzņēmumā Eiropas Komisijas programmas
						"<a target="_blank" href="https://europa.eu/youth/solidarity_lv" rel="noreferrer">Eiropas
							Solidaritātes korpusa</a>" darba projekta ietvaros.
						Sazinājos, un ātri nonācām pie kopsaucēja: uzņēmumam vajadzēja mājaslapu, man vajadzēja
						pieredzi. Ieguvu vērtīgu ierakstu savā CV, kā arī iepazinos no iekšienes ar visām izstrādes
						niansēm.
					</p>
					<figcaption class="blockquote-footer mt-1 fw-bold">
						<i>Lauris Stirna</i>
					</figcaption>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4500">
			<div class="row mt-lg-5">
				<div class="col-lg-1"></div>
				<div class="col-lg-2">
					<picture>
						<source srcset="{% static 'img/photo_2.webp' %}" type="image/webp">
						<img src="{% static 'img/photo_2.jpg' %}" class="img-fluid d-block mx-auto rounded-circle"
							alt="Viktorija Piziča">
					</picture>
				</div>
				<div class="col-lg-8">
					<p class="fst-italic fw-bold"><span class="material-icons">format_quote</span>
						<a target="_blank" href="https://www.rta.lv/" rel="noreferrer">Rēzeknes
							Tehnoloģiju akadēmijā</a> studēju mehatroniku. Eiropas Komisijas programmas
						"<a target="_blank" href="https://europa.eu/youth/solidarity_lv" rel="noreferrer">Eiropas
							Solidaritātes korpuss</a>"
						darba projekta ietvaros ieguvu pirmo darba pieredzi uzņēmumā. Tā bija lieliska
						iespēja iepazīt reālu darba vidi, saskarties ar dažādiem izaicinājumiem un pilnveidoties,
						strādājot kolektīvā.
					</p>
					<figcaption class="blockquote-footer mt-1 fw-bold">
						<i>Viktorija Piziča</i>
					</figcaption>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4500">
			<div class="row mt-lg-5">
				<div class="col-lg-1"></div>
				<div class="col-lg-2">
					<picture>
						<source srcset="{% static 'img/photo_3.webp' %}" type="image/webp">
						<img src="{% static 'img/photo_3.jpg' %}" class="img-fluid d-block mx-auto rounded-circle"
							alt="Rūdolfs Čeirs">
					</picture>
				</div>
				<div class="col-lg-8">
					<p class="fst-italic fw-bold"><span class="material-icons">format_quote</span>
						Studējot <a target="_blank" href="https://www.rta.lv/" rel="noreferrer">
							Rēzeknes Tehnoloģiju akadēmijas</a> mehatronikas specialitātē, pieņēmu priekš sevis
						izaicinošu iespēju
						piedalīties Eiropas Komisijas programmas "<a target="_blank"
							href="https://europa.eu/youth/solidarity_lv" rel="noreferrer">Eiropas
							Solidaritātes korpuss</a>" darba projektā. Tā bija lieliska
						pieredze
						akadēmijā gūtās teorētiskās zināšanas pielietot praksē. Jūtama liela izaugsme gan savā
						specialitātē, gan arī komunikācijā ar darba kolektīvu un klientiem. Šis bija drošs un
						veiksmīgs solis manai izaugsmei!</p>
					<figcaption class="blockquote-footer mt-1 fw-bold">
						<i>Rūdolfs Čeirs</i>
					</figcaption>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="4500">
			<div class="row mt-lg-5">
				<div class="col-lg-1"></div>
				<div class="col-lg-2">
					<picture>
						<source srcset="{% static 'img/photo_4.webp' %}" type="image/webp">
						<img src="{% static 'img/photo_4.jpg' %}" class="img-fluid d-block mx-auto rounded-circle"
							alt="Vitālijs Jurčs">
					</picture>
				</div>
				<div class="col-lg-8">
					<p class="fst-italic fw-bold"><span class="material-icons">format_quote</span>
						Būdams students, piedalījos Eiropas Komisijas programmas
						"<a target="_blank" href="https://europa.eu/youth/solidarity_lv" rel="noreferrer">Eiropas
							Solidaritātes korpuss</a>"
						darba projektā. Tā bija iespēja uzsākt pirmās darba gaitas un gūt pirmo pieredzi uzņēmumā.
						Strādāju amatā, kas līdzīgs tam, ko apgūstu <a target="_blank" href="https://www.rta.lv/"
							rel="noreferrer">Rēzeknes Tehnoloģiju akadēmijā</a> - mehatroniķis.
						Iegūtā pieredze ietvēra sevī gan montāžas
						darbus, gan mazo projektu izstrādi, gan komunikāciju ar kolēģiem. Viss iepriekš minētais,
						atziņas, kā arī <a target="_blank" href="https://www.youthpass.eu/lv/"
							rel="noreferrer">Youthpass</a> sertifikāts noteikti palīdzēs nākotnē.
					</p>
					<figcaption class="blockquote-footer mt-1 fw-bold">
						<i>Vitālijs Jurčs</i>
					</figcaption>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carousel_2" data-bs-slide="prev">
			<span class="carousel-control-prev-icon mb-5" aria-hidden="true"></span>
			<span class="visually-hidden">Iepriekšējais</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carousel_2" data-bs-slide="next">
			<span class="carousel-control-next-icon mb-5" aria-hidden="true"></span>
			<span class="visually-hidden">Nākamais</span>
		</button>
	</div>
</div>
<div class="row collaborators">
	<div class="col-12">
		<p class="text-center">
			Projekti "<strong><i>Atbalsts jaunietim pirmajā darba vietā</i></strong>" (1) un
			"<strong><i>Patstāvīgs jaunietis darba tirgū iespēja patstāvībai darba tirgus
					jaunpienācējiem</i></strong>" (2) tika finansēti ar Eiropas Komisijas
			programmas "Eiropas Solidaritātes korpusa" atbalstu.
			Šī publikācija atspoguļo vienīgi autoru uzskatus, un Komisijai nevar uzlikt atbildību par tajā
			ietvertās informācijas jebkādu iespējamo izlietojumu.<br><br>
			(1) Līguma numurs: <strong>2020-3-LV02-ESC21-003633</strong><br>
			(2) Līguma numurs: <strong>2020-2-LV02-ESC21-003336</strong>
		</p>
	</div>
	<div class="col-6">
		<picture>
			<source srcset="{% static 'img/jspa.webp' %}" type="image/webp">
			<img src="{% static 'img/jspa.png' %}" alt="Jaunatnes Starptautisko Programmu Aģentūra"
				class="img-fluid d-block mx-auto">
		</picture>
	</div>
	<div class="col-6">
		<picture>
			<source srcset="{% static 'img/eu.webp' %}" type="image/webp">
			<img src="{% static 'img/eu.png' %}" alt="Eiropas Savienība" class="img-fluid d-block mx-auto">
		</picture>
	</div>
</div>
<!-- Useful links -->
<a class="anchor position-relative d-block" name="useful"></a>
<div data-aos="fade-up" data-aos-once="true">
	<figure class="text-center">
		<blockquote class="blockquote">
			<h1 class="mt-3">Noderīgas saites</h1>
		</blockquote>
		<figcaption class="blockquote-footer fs-5">Tas var noderēt!</figcaption>
	</figure>
	<hr class="mt-lg-3 mt-xl-5">
</div>
<div class="row useful">
	<div class="col-12">
		<ul>
			<li>
				<p class="mb-1">Mikroģeneratora pieslēgšanas pieteikums klientu portālā <a target="_blank"
						href="https://www.e-st.lv/lv/private/pieteikt-pakalpojumu/st-pieslegumi/mikrogeneratora-pieslegsana-1/jauna-mikrogeneratora-pieslegsana/step/1"
						rel="noreferrer" class="fw-bold">e-st.lv</a></p>
			</li>
			<li>
				<p class="mb-1">Mikroģeneratora pieslēgšana <a target="_blank"
						href="https://sadalestikls.lv/lv/mikrogeneratora-pieslegsana" rel="noreferrer"
						class="fw-bold">sadalestikls.lv</a></p>
			</li>
			<li>
				<p class="mb-1">SIA Energo dizains mājaslapa <a target="_blank" href="https://www.energodizains.lv/"
						rel="noreferrer" class="fw-bold">energodizains.lv</a></p>
			</li>
		</ul>
	</div>
</div>
<!-- Contact us -->
<a class="anchor position-relative d-block" name="contact_us"></a>
<div data-aos="fade-up" data-aos-once="true">
	<figure class="text-center">
		<blockquote class="blockquote">
			<h1 class="mt-3">Sazināties ar mums</h1>
		</blockquote>
		<figcaption class="blockquote-footer fs-5">Radās interese? Pajautā!</figcaption>
	</figure>
	<hr class="mt-lg-3 mt-xl-5">
</div>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible rounded-pill fw-bold" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Aizvērt"></button>
</div>
{% endfor %}
<form method="post" class="d-flex justify-content-center">
	{% csrf_token %}
	<div class="row gx-0">
		<div class="col-12 col-md-6">
			<div data-aos="fade-right" data-aos-once="true" data-aos-offset="200" data-aos-duration="500">
				{{ form.name }}
			</div>
			<div data-aos="fade-right" data-aos-once="true" data-aos-offset="100" data-aos-duration="500">
				{{ form.sender }}
			</div>
			<div data-aos="fade-right" data-aos-once="true" data-aos-offset="0" data-aos-duration="500">
				{{ form.subject }}
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div data-aos="fade-left" data-aos-once="true" data-aos-offset="200" data-aos-duration="500">
				{{ form.content }}
			</div>
		</div>
		<div class="col-12">
			<div data-aos="fade-up" data-aos-once="true" data-aos-offset="200" data-aos-duration="500">
				{{ form.captcha }}
				<button type="submit" disabled="disabled" id="submitButton"
					class="btn btn-dark d-block mx-auto my-2">Nosūtīt</button>
			</div>
		</div>
	</div>
</form>
{% include 'modals.html' %}
{% endblock %}