{% load static %}
<!-- Modal 1 -->
<div class="modal fade" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center fw-bold">Elektroietaišu projektēšana un autoruzraudzība</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Transformatoru apakšstacijas un sadales punkti no <strong>1 kV</strong> Iīdz <strong>35
                            kV;</strong></li>
                    <li>Gaisvadu līnijas un kabeļlīnijas līdz <strong>1 kV</strong>, no <strong>1 kV</strong> līdz
                        <strong>35 kV;</strong>
                    </li>
                    <li>Elektrotehniskās kontroles, vadības un automatizācijas sistēmas līdz <strong>1 kV;</strong></li>
                    <li>Elektrostaciju elektriskā daļa t.sk. elektrodzinēji un ģeneratori (mikro ģeneratori) līdz
                        <strong>1 kV;</strong>
                    </li>
                    <li>Ēku elektroinstalācija līdz <strong>1 kV;</strong></li>
                    <li>Automātiskās ugunsaizsardzības, ugunsdzēsības sistēmu automātikas un vadības daļas (<i>AUS</i>,
                        <i>AUSS</i>) līdz <strong>1 kV;</strong>
                    </li>
                    <li>Zibensaizsardzība un pārspriegumaizsardzība līdz <strong>1 kV.</strong></li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row gx-0">
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_1.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_1.jpg' %}" class="mb-2 d-block mx-auto border border-dark"
                                alt="Illustration 1">
                        </picture>
                    </div>
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_2.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_2.jpg' %}" class="mb-2 d-block mx-auto border border-dark"
                                alt="Illustration 2">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title text-center fw-bold">Elektroietaišu izbūve</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Gaisvadu līnijas un kabeļlīnijas līdz <strong>1 kV;</strong></li>
                    <li>Elektrotehniskās kontroles, vadības un automatizācijas sistēmas līdz <strong>1 kV;</strong></li>
                    <li>Elektrostaciju elektriskā daļa t.sk. elektrodzinēji un ģeneratori (mikro ģeneratori) līdz
                        <strong>1 kV;</strong>
                    </li>
                    <li>Ēku elektroinstalācija līdz <strong>1 kV;</strong></li>
                    <li>Automātiskās ugunsaizsardzības, ugunsdzēsības sistēmu automātikas un vadības daļas (<i>AUS</i>,
                        <i>AUSS</i>) līdz <strong>1 kV;</strong>
                    </li>
                    <li>Zibensaizsardzība un pārspriegumaizsardzība.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row gx-0">
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_3.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_3.jpg' %}" class="mb-2 d-block mx-auto"
                                style="object-fit: cover" alt="Illustration 3">
                        </picture>
                    </div>
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_4.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_4.jpeg' %}" class="mb-2 d-block mx-auto" alt="Illustration 4">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3 -->
<div class="modal fade" id="Modal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center fw-bold">Elektroietaišu izbūves darbu vadīšana un būvuzraudzība</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Transformatoru apakšstacijas un sadales punkti no <strong>1 kV</strong> līdz <strong>35
                            kV;</strong></li>
                    <li>Gaisvadu līnijas līdz <strong>1 kV</strong>, no <strong>1 kV</strong> līdz <strong>35
                            kV;</strong></li>
                    <li>Kabeļlīnijas līdz <strong>1 kV</strong>, no <strong>1 kV</strong> līdz <strong>35 kV;</strong>
                    </li>
                    <li>Ēku elektroinstalācija līdz <strong>1 kV;</strong></li>
                    <li>Zibensaizsardzība un pārspriegumaizsardzība līdz <strong>1 kV.</strong></li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row gx-0">
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_5.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_5.jpg' %}" class="mb-2 d-block mx-auto" alt="Illustration 5">
                        </picture>
                    </div>
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_6.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_6.jpg' %}" class="mb-2 d-block mx-auto" alt="Illustration 6">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 4 -->
<div class="modal fade" id="Modal4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center fw-bold">Elektroietaišu tehnisko parametru mērīšana un pārbaude</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Elektroinstalāciju kontaktsavienojumu pārbaude, termogrāfija (saskaņā ar MK noteikumiem nr.
                        <i>238</i> “Ugunsdrošības noteikumi”);
                    </li>
                    <li>Elektroinstalāciju izolācijas pretestības mērījumi;</li>
                    <li>Cilpas "fāze–nulle" pilnās pretestības mērījumi;</li>
                    <li>Zemējumietaišu pretestības, zemējumvada nepārtrauktības saites un zibensaizsardzības sistēmu
                        pārbaudes mērījumi.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row gx-0">
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_7.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_7.jpg' %}" class="mb-2 d-block mx-auto border border-dark"
                                alt="Illustration 7">
                        </picture>
                    </div>
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_8.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_8.jpeg' %}" class="mb-2 d-block mx-auto border border-dark"
                                alt="Illustration 8">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 5 -->
<div class="modal fade" id="Modal5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title text-center fw-bold">Saules enerģētika</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Uzklausīsim Tavas vēlmes un apsekosim objektu dabā;</li>
                    <li>Konsultēsim par mikroģenerācijas novietojumu un jaudas izvēli;</li>
                    <li>Izstrādāsim projektu un veiksim tā realizāciju dzīvē;</li>
                    <li>Konsultēsim ekspluatācijas laikā un palīdzēsim kopšanas darbos;</li>
                    <li>Strādājam Latgalē.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row gx-0">
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_9.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_9.jpeg' %}" class="mb-2 d-block mx-auto"
                                style="object-fit: cover" alt="Illustration 9">
                        </picture>
                    </div>
                    <div class="col-6">
                        <picture>
                            <source srcset="{% static 'img/illu_10.webp' %}" type="image/webp">
                            <img src="{% static 'img/illu_10.jpg' %}" class="mb-2 d-block mx-auto"
                                alt="Illustration 10">
                        </picture>
                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 6 -->
<div class="modal fade" id="Modal6">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title text-center fw-bold">Mikroģeneratora pieslēgšana</h4>
            </div>
            <div class="modal-body">
                <ol>
                    <li class="fw-bold" style="font-size: 16px;">Pieteikums</li>
                    <ul style="list-style-type: disc; font-size: 14px;">
                        <li>
                            Laikus iepazīstieties ar mikro ģeneratoru pieslēgšanu soli pa solim un saņemiet noderīgus
                            padomus “Sadales tīkla”
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://sadalestikls.lv/lv/mikrogeneratora-pieslegsana">mājaslapā</a>.
                            Izpētiet arī vietējās būvvaldes nosacījumus saules paneļu uzstādīšanai tās pārraudzībā
                            esošajā teritorijā.
                        </li>
                        <li>
                            <strong>! Atcerieties, pirms iekārtas pieslēgšanas noteikti jāsaņem “Sadales tīkla”
                                atļauja.</strong>
                        </li>
                        <li>
                            Bez atļaujas pieslēgts mikro ģenerators var radīt būtiskus bojājumu riskus Jūsu un
                            kaimiņu elektroietaisēm un dzīvībai bīstamas situācijas ikvienam, kas veic darbus
                            elektrotīklā.
                        </li>
                        <li>
                            Piesakiet mikroģeneratora pieslēgšanu klientu portālā
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://www.e-st.lv/lv/private/pieteikt-pakalpojumu/st-pieslegumi/mikrogeneratora-pieslegsana-1/jauna-mikrogeneratora-pieslegsana/step/1">
                                e-st.lv</a>.
                        </li>
                        <li>
                            Ja būsiet izvēlējušies invertoru, kas ir iekļauts <a target="_blank" rel="noreferrer"
                                class="text-decoration-none link-primary"
                                href="https://sadalestikls.lv/lv/invertoru-saraksts">“Sadales tīkla” atzīto invertoru
                                sarakstā</a>,
                            ne vēlāk kā trīs darbdienu laikā sniegsim atbildi par iespēju pieslēgt jauno ražošanas
                            iekārtu
                            esošajam elektrotīklam vai nepieciešamību veikt elektrotīkla pārbūvi.
                        </li>
                    </ul>
                    <li class="fw-bold" style="font-size: 16px;">Tehniskās prasības un pārbūves darbi</li>
                    <ul style="list-style-type: disc; font-size: 14px;">
                        <li>
                            Ja mikroģeneratora pieslēgšanai elektrotīkla pārbūve nav nepieciešama vai arī būvdarbi jau
                            paveikti,
                            iepazīstieties ar <a target="_blank" rel="noreferrer"
                                class="text-decoration-none link-primary"
                                href="https://sadalestikls.lv/lv/visparejas-tehniskas-prasibas-mikrogeneratora-pieslegsanai">
                                mikroģeneratora pieslēgšanas vispārējām tehniskajām prasībām</a>.
                        </li>
                        <li>
                            Atsevišķos gadījumos mikroģeneratora pieslēgšanai būs nepieciešama elektrotīkla pārbūve un
                            būvprojekta izstrāde.
                            Tad trīs dienu laikā bez maksas sagatavosim tehniskās prasības un aptuvenu elektrotīkla
                            pārbūves izmaksu aprēķinu.
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://sadalestikls.lv/lv/pastavigs-pieslegums">
                                Vairāk par jauna pieslēguma izbūvi, esoša pieslēguma pārbūvi vai slodzes izmaiņām</a>.
                        </li>
                    </ul>
                    <li class="fw-bold" style="font-size: 16px;">Maksājumi</li>
                    <ul style="list-style-type: disc; font-size: 14px;">
                        <li>
                            Apmaksājiet klientu portālā
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://www.e-st.lv/lv/private/mani-pieteikumi-un-ligumi/iesniegtie-pieteikumi/">e-st.lv</a>
                            mikroģeneratora pieslēgšanas pieteikumam pievienoto rēķinu.
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://sadalestikls.lv/lv/cenradis">Pakalpojumu cenrādis</a>.
                        </li>
                        <li>
                            Elektrotīkla pārbūves gadījumos vispirms saņemsiet pieslēguma līgumu un rēķinu par pārbūves
                            darbiem,
                            bet mikroģeneratora pieslēgšanas rēķinu tikai pēc pārbūves darbu pabeigšanas.
                        </li>
                    </ul>
                    <li class="fw-bold" style="font-size: 16px;">Ierīkošana</li>
                    <ul style="list-style-type: disc; font-size: 14px;">
                        <li>
                            Izvēlieties <a class="text-decoration-none link-primary" id="help"
                                href="#certificates">sertificētu būvspeciālistu</a>,
                            uzticiet viņam mikroģeneratora uzstādīšanas tehniskos darbus un lūdziet sagatavot
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://sadalestikls.lv/storage/app/media/uploaded-files/Iestat%C4%ABjumu.protokols.docx">invertora
                                iestatījumu protokolu</a>.
                        </li>
                        <li>
                            Kad mikroģenerators būs gatavs paralēlam darbam ar “Sadales tīkla” elektrotīklu, aplieciniet
                            to klientu portālā
                            <a target="_blank" rel="noreferrer" class="text-decoration-none link-primary"
                                href="https://www.e-st.lv/lv/private/mani-pieteikumi-un-ligumi/iesniegtie-pieteikumi/">e-st.lv</a>.
                            Pielikumā pievienojiet būvspeciālista sertifikāta kopiju un aizpildītu invertora iestatījumu
                            protokolu.
                            Ievērojiet vispārējās tehniskajās prasībās noteikto termiņu!
                        </li>
                    </ul>
                    <li class="fw-bold" style="font-size: 16px;">Pieslēgšanas atļauja</li>
                    <ul style="list-style-type: disc; font-size: 14px;">
                        <li>
                            Ne vēlāk kā piecu darbdienu laikā pārbaudīsim iesniegtos dokumentus un sagatavosim atļauju
                            ieslēgt
                            mikroģeneratoru paralēlam darbam ar “Sadales tīkls” elektrotīklu.
                        </li>
                        <li>
                            Pēc atļaujas saņemšanas ieslēdziet mikroģeneratoru, ražojiet elektrību un izmantojiet neto
                            norēķinu sistēmas priekšrocības.
                        </li>
                    </ul>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aizvērt</button>
            </div>
        </div>
    </div>
</div>