{% load static %}
<!-- Prefooter -->
<a name="contacts" class="anchor position-relative d-block"></a>
<section class="prefooter">
	<div class="container">
		<div class="row gx-0">
			<div class="col-12">
				<h1 class="text-center my-5">Kontakti</h1>
			</div>
			<div class="col-12 col-lg-6">
				<h2 class="text-center mb-4">Tel.nr.:
					<span>
						<a href="tel:+37128648288">(+371) 28 648 288</a>
					</span>
					<span class="material-icons">call</span>
				</h2>
				<h2 class="text-center mb-4 mb-lg-0">E-pasts:
					<span>
						<a href="mailto:affixsia@inbox.lv">affixsia@inbox.lv</a>
					</span>
					<span class="material-icons">email</span>
				</h2>
			</div>
			<div class="col-12 col-lg-6">
				<h2 class="text-center mb-4">Vienotais reģ.nr.:
					<span>42403039480</span>
					<span class="material-icons">badge</span>
				</h2>
				<h2 class="text-center">Juridiskā adrese:
					<span>2-4, Nagļi, Nagļu pagasts, Rēzeknes novads, LV-4631</span>
					<span class="material-icons">home</span>
				</h2>
			</div>
			<div class="col-12">
				<p class="text-center mt-3 mt-lg-5">
					Uzņēmumam ir pieredze prakses vietas nodrošināšanā augstskolu studentiem
					<span class="material-icons">school</span>
				</p>
			</div>
		</div>
	</div>
</section>
<footer class="py-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-6 col-xl-4 text-center">
				<a target="_blank" rel="noreferrer" class="link-info"
					href="https://laurisstirna.eu.pythonanywhere.com/lv/">Izstrādātājs</a>
			</div>
			<div class="col-6 col-xl-4">
				<p class="text-center mb-0">Affix © 2016-{% now 'Y' %}</p>
			</div>
			<div class="col-xl-4">
				<a href="#top" title="Uz augšu">
					<div id="arrow" class="overlay">
						<span class="material-icons icon-arrow">expand_less</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>