{% load static %}
<!-- Prefooter -->
<a class="anchor position-relative d-block" name="contacts"></a>
<section class="prefooter">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10">
				<h1 class="text-center fw-bold mt-5 mb-3">Kontakti</h1>
			</div>
			<div class="col-8 col-lg-6">
				<h2 class="text-center my-3 my-lg-4"><span class="material-icons">call</span>&nbsp;Tel.nr.:
					<a href="tel:+37128648288">(+371) 28 648 288</a>
				</h2>
				<h2 class="text-center"><span class="material-icons">email</span>&nbsp;E-pasts:
					<a href="mailto:affixsia@inbox.lv">affixsia@inbox.lv</a>
				</h2>
			</div>
			<div class="col-8 col-lg-6">
				<h2 class="text-center my-3 my-lg-4"><span class="material-icons">badge</span>&nbsp;Vienotais reģ.nr.:
					<span>42403039480</span>
				</h2>
				<h2 class="text-center"><span class="material-icons">home</span>&nbsp;Juridiskā adrese:
					<span>2-4, Nagļi, Nagļu pagasts, Rēzeknes novads, LV-4631</span>
				</h2>
			</div>
			<div class="col-10">
				<p class="text-center mt-3 mt-lg-5">
					<span class="material-icons">school</span>&nbsp;Uzņēmumam ir pieredze prakses vietas nodrošināšanā
					augstskolu studentiem.
				</p>
			</div>
		</div>
	</div>
</section>
<footer class="py-4">
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
				<a target="_blank" rel="noreferrer" class="link-primary mb-3 mb-sm-0"
					href="https://laurisstirna.eu.pythonanywhere.com/lv/">Izstrādātājs</a>
			</div>
			<div class="col-12 col-sm-6">
				<p class="text-center mb-0">Affix © 2016-{% now 'Y' %}</p>
			</div>
		</div>
	</div>
</footer>